.footer {
    background-color: #000;
    color: white;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 1px solid #ffffff;
}


.text p {
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
    color: #bbb;
}

.SocialMedia {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.SocialMedia a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s ease;
    position: relative;
}


.SocialMedia a:hover {
    color: #aaa;
}

.SocialMedia a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 1px;
    background: white;
    transition: 0.3s ease;
}

.SocialMedia a:hover::after {
    width: 100%;
}


@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .SocialMedia {
        justify-content: center;
    }
}